<div class="row mt-4">
    <div class="card bg-light col-sm-5 mx-5 mb-5 p-3">
      <form [formGroup]="signUp" (ngSubmit)="onSubmit(signUp)">
        <div class="form-group mb-3">
          <label class="form-label">Name:</label>
          <input
            formControlName="userName"
            name="userName"
            placeholder="Enter name"
            required
            type="text"
            class="form-control"
            [class.is-invalid]="userName?.invalid && userName?.touched"
          />
          <div
            class="invalid-feedback"
            *ngIf="userName?.invalid && userName?.touched"
          >
            Please Enter valid Name
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="form-label">Father's Name:</label>
          <input
            formControlName="fatherName"
            placeholder="Enter Father's Name"
            required
            type="text"
            class="form-control"
            [class.is-invalid]="fatherName?.invalid && fatherName?.touched"
          />
          <div
            class="invalid-feedback"
            *ngIf="fatherName?.invalid && fatherName?.touched"
          >
            Please Enter valid Father's Name
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            formControlName="email"
            placeholder="Enter email"
            required
            type="email"
            class="form-control"
            [class.is-invalid]="email?.invalid && email?.touched"
          />
          <div
            class="invalid-feedback"
            *ngIf="email?.invalid && email?.touched"
          >
            Please Enter valid email
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            formControlName="password"
            required
            placeholder="Enter your password"
            type="password"
            class="form-control"
            [class.is-invalid]="password?.invalid && password?.touched"
          />

          <div
            class="invalid-feedback"
            *ngIf="password?.errors?.['required'] && password?.touched"
          >
            Please Enter Password
          </div>
          <div class="invalid-feedback" *ngIf="password?.errors?.['minlength']">
            Password Must be 8 character long
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Mobile Number</label>
          <input
            formControlName="mobile"
            required
            placeholder="Enter your number"
            type="number"
            class="form-control"
            [class.is-invalid]="mobile?.invalid && mobile?.touched"
          />
          <div
            class="invalid-feedback"
            *ngIf="mobile?.invalid && mobile?.touched"
          >
            Please Enter vaild number
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="
            mobile?.invalid ||
            password?.invalid ||
            email?.invalid ||
            fatherName?.invalid ||
            userName?.invalid
          "
        >
          Submit
        </button>
        &nbsp; &nbsp; &nbsp;<button type="reset" class="btn btn-danger">
          Reset
        </button>
      </form>
    </div>
    <div class="col-sm-6">
      <table class="table table-bordered">
        <thead class="table-primary">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Father Name</th>
            <th scope="col">Email</th>
            <th scope="col">number</th>
            <th scope="col">Password</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of userList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td scope="rom">{{ item.name }}</td>
            <td scope="rom">{{ item.fatherName }}</td>
            <td scope="rom">{{ item.email }}</td>
            <td scope="rom">{{ item.number }}</td>
            <td scope="rom">{{ item.password }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>