<div class="container">
    <div class="row ">
        <div class="display-6 col-lg-6 text-center">Registration Form</div>
        <div class="display-6 col-lg-6 text-center">Login Form</div>
    </div>
    <div class="row">
        <div class="display-9 col-lg-6 align-items-center mr-3 ">
            <app-template-driven-form></app-template-driven-form>
        </div>
        <div class="display-9 col-lg-6 align-items-center ml-3 ">
            <app-reactive-form></app-reactive-form>
        </div>
    </div>
   
</div>
